
.order-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-right: 50px;
    padding-left: 50px;
    column-gap: 20px;
}
.order-details{
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 10px;
   justify-content: center;
}



.cake-details{
    height: 400px;
    width: 300px;

}
.orderedCake-details{
    display: grid;
    justify-content: center;
    height: 30%;
    font-size: 15px;
}
.cakeImage{
    height: 70%;
}
.orderedCake-details h1,
.orderedCake-details p{
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}